# Source - https://stackoverflow.com/questions/52595272/use-docker-container-as-network-gateway
# Posted by dshepherd, modified by community. See post 'Timeline' for change history
# Retrieved 2026-01-24, License - CC BY-SA 4.0

services:
  alice:
    build: ./alice
    #image: kali-rolling
    cap_add:
      - NET_ADMIN
    hostname: alice
    networks:
      moon-internal:
        ipv4_address: 172.28.0.3
    #user: 1000:1000
    volumes:
      - ./alice/alice_mount:/workspace
    #overrides the CMD in dockerfile if left here
    #command: >
    #  sh -c "
    #    ip route del default &&
    #    ip route add default via 172.28.0.2 &&
    #    tail -f /dev/null
    #  "
  bob:
    build: ./bob
    #image: kali-rolling
    cap_add:
      - NET_ADMIN 
     
    hostname: bob
    sysctls:
    #explicitly disable forwarding:
      net.ipv4.ip_forward: "1"
    networks:
      moon-internal:
        ipv4_address: 172.28.0.2
      internet:
        ipv4_address: 172.29.0.2
    #user: 1000:1000
    volumes:
      - ./bob/bob_mount:/workspace

    #turn bob into a bridge, then attach to bridge
    #remove IP addresses from Bob
    #run as dev so routing from alice still works
    #disable offloading
    #-%Y%m%d-%H%M%S
    command: >
      sh -c "
      ip route del default &&
      ip route add default via 172.29.0.10 &&
      
      ethtool -K eth0 gro off lro off gso off tso off || true &&
      ethtool -K eth1 gro off lro off gso off tso off || true &&
      
      iptables -A FORWARD -i eth0 -o eth1 -j ACCEPT &&
      iptables -A FORWARD -i eth1 -o eth0 -j ACCEPT &&
      


      tcpdump -G 5 -w /workspace/out-%H%M%S.pcap


      "
  nat:
    build: ./nat
    #image: alpine
    cap_add:
      - NET_ADMIN
    hostname: nat
    sysctls:
      net.ipv4.ip_forward: "1"
    networks:
      internet:
        ipv4_address: 172.29.0.10
    command: >
      sh -c "
        iptables -P FORWARD ACCEPT &&
        iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE &&
        tail -f /dev/null
      "
networks:
  moon-internal:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16
  internet:
    driver: bridge
    ipam:
      config:
        - subnet: 172.29.0.0/16
